<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Contact-List</a>
        <ul id="nav-mobile" class="left">
            <li><a href="#">Add</a></li>
        </ul>
    </div>
</nav>